{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Device List</title>
    <link rel="stylesheet" href="{% static 'plugins/dist/css/bootstrap.css' %}">
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.9/vue.js"></script>
    
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>

<h1 class="text-bg-dark">List of Your Enrolled Devices</h1>
<p class="text-dark-emphasis">Customer ID: {{ customer_id }}</p>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Device ID</th>
        <th scope="col">Location ID</th>
        <th scope="col">Service Address</th>
        <th scope="col">Type Name</th>
        <th scope="col">Model Number</th>
        <th scope="col">Enrollment Date</th>
    </tr>
    </thead>
    <tbody>
        {% for device in devices %}
            <tr>
                <td>{{ device.0 }}</td>
                <td>{{ device.1 }}</td>
                <td>{{ device.2 }}</td>
                <td>{{ device.3 }}</td>
                <td>{{ device.4 }}</td>
                <td>{{ device.5 }}</td>
            </tr>
        {% endfor %}
       
    </tbody>
</table>
<form method="post" action="/add_devices/">
    {% csrf_token %}
    <input type="hidden" name="customer_id" value="{{ customer_id }}">


    <div class="form-group">
        <label>Device Type:</label>
        <select class="form-select" name="existing_type_id" id="existing_type_id">
            <option value="">Select Existing Type</option>
            {% for type in device_types %}
                <option value="{{ type.0 }}">{{ type.1 }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="new_type_name">Or Enter New Type Name:</label>
        <input type="text" class="form-control" id="new_type_name" name="new_type_name">
    </div>
    
    <!-- Device Model Dropdown -->
    <div class="form-group" id="app">
        <label>Device Model:</label>
        <select v-show="false" v-model="value" class="form-select" name="existing_model_id" id="existing_model_id" ref="existing_model_id">
            
<option value="">Select Model</option>
            {% for model in device_models %}
                <option value="{{ model.model_id }}">{{ model.model_number }}</option>
            {% endfor %}
            
            
        </select>
        <el-cascader
        @change="handle"
        placeholder="Select Model"
        :props="{emitPath:false}"
        size='mini'
    v-model="value"
    :options="options"></el-cascader>
    </div>
    
    
      

    <div class="form-group">
        <label for="new_model_number">Or Enter New Model Number:</label>
        <input type="text" class="form-control" id="new_model_number" name="new_model_number">
    </div>

    <div class="form-group">
        <label for="location_id">Location ID:</label>
        <input type="text" class="form-control" id="location_id" name="location_id" required>
    </div>
    <div class="form-group">
        <label for="enrollment_date">Enrollment Date:</label>
        <input type="date" class="form-control" id="enrollment_date" name="enrollment_date" required>
    </div>


    <input type="submit" value="Add Device" class="btn btn-primary">
</form>

<form method="post" action="/delete_devices/">
    {% csrf_token %}
    <input type="hidden" name="customer_id" value="{{ customer_id }}">

    <div class="form-group">
        <label for="device_id">device_id:</label>
        <input type="text" class="form-control" id="delete_device_id" name="device_id" required>
    </div>
    <input type="submit" value="Delete Device" class="btn btn-primary">
</form>

<script>
    const app = new Vue({
        el:"#app",
        data(){
            return{
                value:"",
                options:[]
            }
        },
        methods:{
            handle(val){
                console.log(val)
            }
        },
        mounted(){
            let optiondata = {{device_models | safe}}
            let handleoptiondata = optiondata.reduce((acc,cur)=>{
                let group = cur.type_name
                if(!acc[group]){
                    acc[group] = []
                }
                acc[group].push(cur)
                return acc
            },{})
            Object.keys(handleoptiondata).forEach(item=>{
                this.options.push({
                    label:item,
                    
                    children:handleoptiondata[item].map(qq=>({label:qq.model_number,value:qq.model_id}))
                })
            })
            console.log(this.options)
        }
    })
</script>
</body>
</html>